ul {
  list-style-type: none;
  outline: 0.125rem rgb(210, 210, 210) solid;
  background-color: rgba(226, 226, 226, 0.786);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.25rem 0rem;
}
li {
  font-weight: bold;
  font-size: 1.25rem;
}
main {
  display: flex;
  padding: 1.25rem;
}
section {
  outline: 0.1875rem rgb(0, 0, 0) solid;
  flex-basis: 50%;
  margin: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 9.375rem;
}
p {
  flex-grow: 1;
  text-align: center;
}
footer {
  background-color: rgba(167, 167, 167, 0.515);
  text-align: center;
}
